# dependencies
node_modules

# next.js
.next
.env*.local

# testing
coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store

out

# Local Netlify folder
.netlify

# next-on-netlify
404.html
out_functions
out_publish

